# Allow only application inputs into the build context.
**
!pyproject.toml
!uv.lock
!manage.py
!LICENSE
!NOTICE*
!core/
!core/**
!accounts/
!accounts/**
!pages/
!pages/**
!dashboard/
!dashboard/**
!transactions/
!transactions/**
!categories/
!categories/**
!banking/
!banking/**
!investments/
!investments/**
!sandbox/
!sandbox/**
!templates/
!templates/**
!static/
!static/**
!locale/
!locale/**
!scripts/
!scripts/docker_entrypoint.py
!scripts/docker_healthcheck.py
!scripts/sqlite_backup.py
**/__pycache__/**
**/*.pyc
**/.env*
**/*.sqlite3*
**/*.db
**/*.log
**/local_settings.py
**/*.bak
**/backups/**
**/*.pem
**/*.key
